<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
*{
    margin:0;
    padding:0;
}
body{
    font-family: "Open Sans", sans-serif;
}
nav{
    display: flex;
    background-color: rgba(0, 0, 0, 0.582);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  
}
nav ul{
    list-style: none;
    display: flex;
    margin-right: 20px;
    font-size: 20px;
      
  
}

nav ul li a{
    text-decoration: none;
    margin-right: 20px; 
      color: aliceblue;
    text-transform: uppercase;
transition: .5s;
padding: 10px;
border-radius: 5px;
}
nav ul li a:hover, nav ul li a.active{
    background-color: rgba(196, 214, 255, 0.568);
}
.menubtn,bar{
    display: none;
}
.profile{
    width: 1200px;
    display: flex;
    justify-content: space-between;
     background-color: blanchedalmond;
}
.write{
    margin-left: 40px;
    width: 300px;
   
}
.write h2{
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    font-size: 45px;
}
.write p{
    font-size: 25px;
     font-family: "Open Sans", sans-serif;
    font-weight: 900;
    margin-right: 40px;
   
}
form{
    margin-top: 30px;
    gap: 40px;
    font-size: 30px;
}
@media only screen and (max-width:977px){
    nav ul{
        /* position: fixed; */
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 100px;
        justify-content: center;
    }
    nav ul li{
        gap: 20px;
        margin-top: 20px;
       color: aqua;
    }
     nav ul li a:hover,nav ul li a.active{
        background: none;
        color: red;
     }
     .menubtn{
        display: block;
     }
     #bar{
    display: none;
}

}